@font-face {
    font-family: "Futura Pt Light";
    src: url("../fonts/FuturaPTLight.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Futura Pt Medium";
    src: url("../fonts/FuturaPTMedium.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Futura Pt Demi";
    src: url("../fonts/FuturaPTDemi.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
  font-family: 'FunCityLevel2Basic';
  src: url('../fonts/FunCityLevel2/FunCityLevel2Basic.eot');
  src: url('../fonts/FunCityLevel2/FunCityLevel2Basic.eot') format('embedded-opentype'), url('../fonts/FunCityLevel2/FunCityLevel2Basic.woff2') format('woff2'), url('../fonts/FunCityLevel2/FunCityLevel2Basic.woff') format('woff'), url('../fonts/FunCityLevel2/FunCityLevel2Basic.ttf') format('truetype'), url('../fonts/FunCityLevel2/FunCityLevel2Basic.svg#FunCityLevel2Basic') format('svg');
}

.container{box-sizing: border-box;}
header{
	background: #ddd;
	height:74px;
	display:block;
}


.menu{
	background: url(../icons/menu.svg) no-repeat;
	width: 50px;
    height: 50px;
    float: left;
    cursor: pointer;
    margin-right: 100px;
    margin-left: 20px;
    margin-top: 12px;
    z-index: 260;
    position: relative;
}
.search{
	width: 50px;
    height: 50px;
    float: left;
    cursor: pointer;
    background: url('../icons/search.svg') no-repeat center center;
    margin-top: 12px;
}
.logohref{
	width: 230px;
    height: 74px;
    background: url('../icons/logo.svg') no-repeat center 22px;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -115px;
    cursor: pointer;
    overflow: hidden;
}
	.logohref-phone{    
		position: absolute !important;
	    bottom: 0;
	    left: -185px;
	    display: inline-block;
	    height: 29px !important;
	    line-height: 29px;
	    width: 600px;
	    text-align: center;
	    background: #ddd;
	    font-family: 'FunCityLevel2Basic';
	    font-size: 9px;
	    font-weight: bold;
	    color:#1e1e1e;
	}
		.logogref-phone span{font-size:13px;}
		.char1{position: absolute; left: 50%; margin-left: -0.5em; transform: rotate(13.0025deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char2{position: absolute; left: 50%; margin-left: -0.5em; transform: rotate(11.0997deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char3{position: absolute; left: 50%; margin-left: -0.277778em; transform: rotate(9.61977deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char4{position: absolute; left: 50%; margin-left: -0.5em; transform: rotate(8.13981deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char5{position: absolute; left: 50%; margin-left: -0.555556em; transform: rotate(6.13128deg); transform-origin: center -30.1111em 0px; bottom: 0px}
		.char6{position: absolute; left: 50%; margin-left: -0.555556em; transform: rotate(4.01705deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char7{position: absolute; left: 50%; margin-left: -0.277778em; transform: rotate(2.43137deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char8{position: absolute; left: 50%; margin-left: -0.5em; transform: rotate(0.951406deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char9{position: absolute; left: 50%; margin-left: -0.5em; transform: rotate(-0.951406deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char10{position: absolute; left: 50%; margin-left: -0.555556em; transform: rotate(-2.95993deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char11{position: absolute; left: 50%; margin-left: -0.277778em; transform: rotate(-4.54561deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char12{position: absolute; left: 50%; margin-left: -0.5em; transform: rotate(-6.02557deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char13{position: absolute; left: 50%; margin-left: -0.555556em; transform: rotate(-8.03409deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char14{position: absolute; left: 50%; margin-left: -0.277778em; transform: rotate(-9.61977deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char15{position: absolute; left: 50%; margin-left: -0.5em; transform: rotate(-11.0997deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char16{position: absolute; left: 50%; margin-left: -0.5em; transform: rotate(-13.0025deg); transform-origin: center -30.1111em 0px; bottom: 0px;}

.cart{
	display: block;
    width: 50px;
    height: 50px;
    float: right;
    cursor: pointer;
    background: url('../icons/cart.svg') no-repeat center center;
    margin-top: 12px;
}
.login{
    width: 50px;
    height: 50px;
    float: right;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 100px;
    background: url('../icons/login.svg') no-repeat center center;
    margin-top: 12px;
}


@media all and (max-width: 767px){
	
	header{height:130px;}
	header a{
			display:inline-block;
			float:left !important;
			margin-left:0 !important;
			margin-right:0 !important;
			margin-top:0 !important;
			margin-bottom:0 !important;
			width:25% !important;
	    	height: 50px !important;
	    	text-align:center;
		}
		.menu{
			background: url(../icons/menu.svg) no-repeat center;
		}
		.search{
			background: url('../icons/search.svg') no-repeat center center;
		}
		.logohref{
			background: url('../icons/logo.svg') no-repeat center 22px;
			float:none;
			display:block;
			height:74px !important;
			width:100% !important;
			text-align:center;
			position:relative;
			left:0;
			margin:0 auto 5px
		}
			.logohref-phone{    
				position: absolute !important;
			    bottom: 0;
			   	left: 0;
			    display: inline-block;
			    height: 29px !important;
			    line-height: 29px;
			    width: 100%;
			    text-align: center;
			    background: #ddd;
			    font-family: 'FunCityLevel2Basic';
			    font-size: 9px;
			    font-weight: bold;
			    color:#1e1e1e;
			}
		.cart{
			background: url('../icons/cart.svg') no-repeat center center;
		}
		.login{
			background: url('../icons/login.svg') no-repeat center center;
		}
}

.banner{
	background: url(../img/topBanner.png) no-repeat top center;
	background-size: contain;	
}
	.banner img{width:100%;}
	.hashbanner{
		font-family: 
		color:;
	}

.description{
	font-family: "Futura Pt Light";
	font-size: 16px;
	color:#8f9197;
}
	.description div{padding:35px 0;}

.secondBanner{
	background: url(../img/secondBanner.png) no-repeat top center;
	height:23vh;
	font-family: "Futura Pt Medium";
	font-size:48px;
	color:#fff;
	min-height:165px;
}
	.secondBanner div.text-xs-center{padding-top:19px;}
	.secondBanner .fb{
		margin-left:auto;
		margin-right:auto;
		font-family: "Futura Pt Light";
		font-size:17px;
		color:#411800;
		background: #fff;
		display:block;
		float:none;
		width:180px;
		border-radius:10px;
		line-height:33px;
		margin-top:-5px;
		
	}
		.secondBanner .fb:hover{text-decoration:none;}
.participants{height:70px;}
.rot45deg{
	    margin: 57px auto 0;
	    display: block;
	    width: 100px;
	    -webkit-transform: rotate(-45deg);
	    -moz-transform: rotate(-45deg);
	    -o-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	    font-size: 23px;
	    font-family: "Futura Pt Light";
	    color:#4e4e4e;
	    position:relative;
		left:-3px;
	}
.participantsBlocks{
	font-family: "Futura Pt Light";
	font-size:16px;
	margin-top:27px;
}
	.participantsBlocks>div{height:364px;padding-top:15px;}
	.participantsBlocks .top{position:relative; top:0px;}
	.participantsBlocks .name{
		font-family: "Futura Pt Demi";
		font-size:30px;
		display:inline-block;
		width:100%;
	}
	.participantsBlocks .hash{
		text-transform:uppercase;
		display:inline-block;
		width:100%;
	    position: relative;
	    top: -11px;
	}
	.participantsBlocks .video{margin:21px 4px; display:block;}
	.participantsBlocks>div:nth-child(1){
		background: url(../img/participantsLeftBg.png) no-repeat top left;
		background-size:cover;
		color:#4e4e4e;
		padding-left:30px;
	}
	.participantsBlocks>div:nth-child(2){
		background: url(../img/participantsRightBg.png) no-repeat top right;
		background-size:cover;
		color:#fff;

	}
.simpleText{
	color:#515151;
	font-family: "Futura Pt Light";
	font-size:16px;
}
