@font-face {
    font-family: "Futura Pt Light";
    src: url("../fonts/FuturaPTLight.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Futura Pt Medium";
    src: url("../fonts/FuturaPTMedium.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Futura Pt Demi";
    src: url("../fonts/FuturaPTDemi.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Futura Pt Book";
    src: url("../fonts/FuturaPTBook.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
  font-family: 'FunCityLevel2Basic';
  src: url('../fonts/FunCityLevel2/FunCityLevel2Basic.eot');
  src: url('../fonts/FunCityLevel2/FunCityLevel2Basic.eot') format('embedded-opentype'), url('../fonts/FunCityLevel2/FunCityLevel2Basic.woff2') format('woff2'), url('../fonts/FunCityLevel2/FunCityLevel2Basic.woff') format('woff'), url('../fonts/FunCityLevel2/FunCityLevel2Basic.ttf') format('truetype'), url('../fonts/FunCityLevel2/FunCityLevel2Basic.svg#FunCityLevel2Basic') format('svg');
}
*{font-family: "Futura Pt Light";}
.container{box-sizing: border-box;}
header{
	background: #ddd;
	height:74px;
	display:block;
}


.menu{
	background: url(../icons/menu.svg) no-repeat;
	width: 50px;
    height: 50px;
    float: left;
    cursor: pointer;
    margin-right: 100px;
    margin-left: 20px;
    margin-top: 12px;
    z-index: 260;
    position: relative;
}
.search{
	width: 50px;
    height: 50px;
    float: left;
    cursor: pointer;
    background: url('../icons/search.svg') no-repeat center center;
    margin-top: 12px;
}
.logohref{
	width: 230px;
    height: 74px;
    background: url('../icons/logo.svg') no-repeat center 22px;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -115px;
    cursor: pointer;
    overflow: hidden;
}
	.logohref-phone{    
		position: absolute !important;
	    bottom: 0;
	    left: -185px;
	    display: inline-block;
	    height: 29px !important;
	    line-height: 29px;
	    width: 600px;
	    text-align: center;
	    background: #ddd;
	    font-family: 'FunCityLevel2Basic';
	    font-size: 9px;
	    font-weight: bold;
	    color:#1e1e1e;
	}
		.logogref-phone span{font-size:13px;}
		.char1{position: absolute; left: 50%; margin-left: -0.5em; transform: rotate(13.0025deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char2{position: absolute; left: 50%; margin-left: -0.5em; transform: rotate(11.0997deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char3{position: absolute; left: 50%; margin-left: -0.277778em; transform: rotate(9.61977deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char4{position: absolute; left: 50%; margin-left: -0.5em; transform: rotate(8.13981deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char5{position: absolute; left: 50%; margin-left: -0.555556em; transform: rotate(6.13128deg); transform-origin: center -30.1111em 0px; bottom: 0px}
		.char6{position: absolute; left: 50%; margin-left: -0.555556em; transform: rotate(4.01705deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char7{position: absolute; left: 50%; margin-left: -0.277778em; transform: rotate(2.43137deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char8{position: absolute; left: 50%; margin-left: -0.5em; transform: rotate(0.951406deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char9{position: absolute; left: 50%; margin-left: -0.5em; transform: rotate(-0.951406deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char10{position: absolute; left: 50%; margin-left: -0.555556em; transform: rotate(-2.95993deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char11{position: absolute; left: 50%; margin-left: -0.277778em; transform: rotate(-4.54561deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char12{position: absolute; left: 50%; margin-left: -0.5em; transform: rotate(-6.02557deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char13{position: absolute; left: 50%; margin-left: -0.555556em; transform: rotate(-8.03409deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char14{position: absolute; left: 50%; margin-left: -0.277778em; transform: rotate(-9.61977deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char15{position: absolute; left: 50%; margin-left: -0.5em; transform: rotate(-11.0997deg); transform-origin: center -30.1111em 0px; bottom: 0px;}
		.char16{position: absolute; left: 50%; margin-left: -0.5em; transform: rotate(-13.0025deg); transform-origin: center -30.1111em 0px; bottom: 0px;}

.cart{
	display: block;
    width: 50px;
    height: 50px;
    float: right;
    cursor: pointer;
    background: url('../icons/cart.svg') no-repeat center center;
    margin-top: 12px;
}
.login{
    width: 50px;
    height: 50px;
    float: right;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 100px;
    background: url('../icons/login.svg') no-repeat center center;
    margin-top: 12px;
}


@media all and (max-width: 767px){
	
	header{height:130px;}
	header a{
			display:inline-block;
			float:left !important;
			margin-left:0 !important;
			margin-right:0 !important;
			margin-top:0 !important;
			margin-bottom:0 !important;
			width:25% !important;
	    	height: 50px !important;
	    	text-align:center;
		}
		.menu{
			background: url(../icons/menu.svg) no-repeat center;
		}
		.search{
			background: url('../icons/search.svg') no-repeat center center;
		}
		.logohref{
			background: url('../icons/logo.svg') no-repeat center 22px;
			float:none;
			display:block;
			height:74px !important;
			width:100% !important;
			text-align:center;
			position:relative;
			left:0;
			margin:0 auto 5px
		}
			.logohref-phone{    
				position: absolute !important;
			    bottom: 0;
			   	left: 0;
			    display: inline-block;
			    height: 29px !important;
			    line-height: 29px;
			    width: 100%;
			    text-align: center;
			    background: #ddd;
			    font-family: 'FunCityLevel2Basic';
			    font-size: 9px;
			    font-weight: bold;
			    color:#1e1e1e;
			}
		.cart{
			background: url('../icons/cart.svg') no-repeat center center;
		}
		.login{
			background: url('../icons/login.svg') no-repeat center center;
		}
}

.banner{
	background: url(../img/topBanner.png) no-repeat top center;
	background-size: contain;	
}
	.banner img{width:100%;}
	.hashbanner{
		font-family: 
		color:;
	}

.description{
	font-family: "Futura Pt Light";
	font-size: 16px;
	color:#8f9197;
}
	.description div{padding:35px 0;}

.secondBanner{
	background: url(../img/secondBanner.png) no-repeat top center;
	height:23vh;
	font-family: "Futura Pt Medium";
	font-size:48px;
	color:#fff;
	min-height:165px;
}
	.secondBanner div.text-xs-center{padding-top:19px;}
	.secondBanner a.fb {
		margin-left:auto;
		margin-right:auto;
		font-family: "Futura Pt Light";
		font-size:17px;
		color:#411800;
		background: #fff;
		display:block;
		float:none;
		width:180px;
		border-radius:10px;
		line-height:33px;
		margin-top:-5px;
		
	}
		.secondBanner .fb:hover{text-decoration:none;}
.participants{height:70px;}
.rot45deg{
	    margin: 57px auto 0;
	    display: block;
	    width: 100px;
	    -webkit-transform: rotate(-45deg);
	    -moz-transform: rotate(-45deg);
	    -o-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	    font-size: 23px;
	    font-family: "Futura Pt Light";
	    color:#4e4e4e;
	    position:relative;
		left:-3px;
	}
.participantsBlocks{
	font-family: "Futura Pt Light";
	font-size:16px;
	margin-top:27px;
}
	.participantsBlocks>div{height:364px;padding-top:15px;}
	.participantsBlocks .top{position:relative; top:-3px;letter-spacing: 1.1px}
	.participantsBlocks .name{
		font-family: "Futura Pt Demi";
		font-size:30px;
		display:inline-block;
		width:100%;
	}
	.participantsBlocks .hash{
		text-transform:uppercase;
		display:inline-block;
		width:100%;
	    position: relative;
	    top: -11px;
	}
	.participantsBlocks .video{margin:21px 4px; display:block;}
	.participantsBlocks>div:nth-child(1){
		background: url(../img/participantsLeftBg.png) no-repeat top left;
		background-size:cover;
		color:#4e4e4e;
		padding-left:30px;
	}
	.participantsBlocks>div:nth-child(2){
		background: url(../img/participantsRightBg.png) no-repeat top right;
		background-size:cover;
		color:#fff;
	}
.simpleText{
	color:#515151;
	font-family: "Futura Pt Light";
	font-size:16px;
	margin: 32px 0 53px;
	line-height: 17px
}
.thirdBanner{
	background: url(../img/thirdBanner.png) no-repeat top center;
	height:23vh;
	font-family: "Futura Pt Medium";
	font-size:48px;
	color:#fff;
	min-height:165px;
}
	.thirdBanner div.text-xs-center:nth-shild(1){padding-top:19px;letter-spacing: 3px;}
	.thirdBanner .subtext{
		font-family: "Futura Pt Medium";
		font-size:25px;
		margin-top:-20px;
		letter-spacing: 2px;

	}
	.thirdBanner a.fb{
		margin-left:auto; 
		margin-right:auto;
		font-family: "Futura Pt Light";
		font-size:17px;
		color:#411800;
		background: #fff;
		display:block;
		float:none;
		width:180px;
		border-radius:10px;
		line-height:33px;
		margin-top:13px;
		letter-spacing: 1px
		
	}
.blog{margin-top: 98px;}
	.blog>.title{
		font-family: 'FunCityLevel2Basic';
		font-weight:bold;
		color:#000;
		font-size:7px;
		letter-spacing:150%;
	}
	.blog .filter input{display:none;}
		.blog .filter input:checked+label{
			background: #a1feae;
		}
		.blog .filter label{cursor:pointer;padding:2px 7px;border-radius:5px; margin:0 4px;}
		.blogPosts{}
		.blogItem{margin-top: 69px;}
			.blogItem .date.col-xs-4{
				color:#1e1e1e;
				font-size:16px;
				padding:0;
			}
			.blogItem .comments-views{padding-right:0;}
				.blogItem .comments-views div{float:right;margin:0;color:#1e1e1e;font-size:16px;padding-right:0;}
					.blogItem .comments-views div img{margin:0 5px;}
					.blogItem .comments-views .comments{
						background: url(../icons/comments.svg) no-repeat left top;
						display:block;
		/*				width:500px;
						height:500px;*/

					}
									.blogItem .comments-views .comments:after{content:" / ";}
					.blogItem .comments-views .views img{margin: -3px 5px 0;}
				.blogItem a.title{
					font-family: "Futura Pt Book";
					font-size:20px;
					color:#1e1e1e;
					text-transform:uppercase;
					padding:0;
					margin:10px 0;
				}
					.blogItem a.title:hover{text-decoration:none;}
				.blogItem .blogPostThumb{padding:0;margin-top:20px;position:relative;display:block;}
					.blogItem .blogPostThumb .details{
						/*background: url(../icons/radial_gradient.svg) no-repeat center;
						background-size: contain;*/
						position:relative;
						top:-75px;
						box-shadow:0 0 150px 80px rgba(169, 255, 182,1);
						border-radius:50%;
/*						line-height:150px;*/
						width:1px;
						height:1px;
/*						width:100%;
						height:100%;*/
						margin:0 auto;
						text-align:center;
						text-transform:uppercase;
						color:#999;
						display:none;
						cursor:pointer;
					}
					@media all and (max-width:767px){
						.blogItem .blogPostThumb .details{
						/*background: url(../icons/radial_gradient.svg) no-repeat center;
						background-size: contain;*/
						top:-35vh !important;
						}
					}
					@media all and (max-width:520px){
						.blogItem .blogPostThumb .details{
						/*background: url(../icons/radial_gradient.svg) no-repeat center;
						background-size: contain;*/
						top:-15vh !important;
						}
					}
						.blogItem .blogPostThumb:hover .details{display:block;}
						.blogItem .blogPostThumb .details span{
							vertical-align:middle;
							height:100%;
							display:block;
							position:relative;
							margin-left:-45px;
						}
					.blogItem .blogPostThumb img{padding:0;width:100%;height:auto;}
				.blogItem .blogPostText{padding-left:0;margin-top:30px;}
